body{
    background-color: lightgrey;
    margin: 0 auto;
}
#grieta{
    margin: 0 auto;
    text-align: center;
}
video{
    margin-left: 30px;
    width: 300px;
}
p{
    text-align: center;
}
li{
    height: 50px;
    background-color: green;
    border: 1px black solid;
    margin: 3px;
    text-align: center;
    list-style-type: none;
    width: 500px;
    
}
ol{
    margin: 0 auto;
    
}
h1{
    text-align: center;
    background-color: crimson;
    color: white;
    height: 50px;
    margin: 0;
}
