
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    margin: 0 auto;
    color: black;
    background-color: aqua;
}

header {
    background: black;
    color: white ;
    padding: 20px ;
    text-align: center;
}

nav {
    background: black;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 15px ;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    width: 1200px;  
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    
}
#ekko{
    margin: 0 auto;
    text-align: center;
    display: block;
    
}
